<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Calendar Tool</title>
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <script src="{{ url_for('static', filename='gui.js') }}"></script>
</head>
<body>
    <h1>Online Calendar Tool</h1>
    <div>Merge multiple calendars from ICS feed URL. Create a filter to sync selected events types.
    Keep it up to date with a new ICS feed URL that sync automatically.</div>
    <template id="templateForm"><form class="mainForm" style="border: solid red">
                <label>ICS feed URL: <input class="url" type="url" ></label>
                <button type="button">Get events</button>
    </form></template>
    <div id="formsDiv" style="border: solid blue">
        <button onclick="addForm()">Add calendar</button>
        <button onclick="removeForm()">Remove calendar</button>
    </div>

    <button onclick="generateLink()">Generate Link</button>
    <pre id="codeOutput"></pre>
</body>
</html>
